html
    head
    body
        -var a = 2;
        if (a%2==0)
            div(style={background: 'red'}) 这是偶数
        else
            div(style={background: 'green'}) 这是奇数
        div
            span
        -var b = 3
        case b
            when 0
                div 000
            when 1
                div 111
            when 2
                div 222
            default
                div 错错错