<!DOCTYPE html>
<html lang="en" ng-app="messageBoard">
<head>
  <meta charset="UTF-8">
  <title>留言板</title>
  <link href="messageboard.css" rel="stylesheet"/>
  <link href="iconfont.css" rel="stylesheet" />
  <script src="angular.js"></script>
  <script>
    let mod = angular.module('messageBoard', []);

    mod.config(function ($httpProvider) {

      $httpProvider.defaults.transformRequest = function (obj) {
        var str = [];

        for (var p in obj) {
          str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
        }

        return str.join('&');
      }

      $httpProvider.defaults.headers.post = {
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    });

    mod.controller('main', function ($scope, $http) {

      $scope.current = 1;
      // $scope.datas = [{"id": 1, "content": "内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容", "good": 2, "bad": 1, "date": 1520996956259},{"id": 2, "content": "内容内容内容容内容内容内容内容内容", "good": 6, "bad": 3, "date": 1520956956259}];
      $scope.datas = [];

      $scope.getList = function () {
        $http.get(`/getList?current=${$scope.current}`).then(res => {
          $scope.datas = res.data;
        }, () => {
          alert('获取失败');
        });
      }

      $scope.add = function () {
        $http({
          url: '/add',
          method: 'post',
          data: {
            content: $scope.content
          }
        }).then(res => {
          if (res.data.ok) {
            $scope.getList();
            $scope.content = '';
          }
        }, () => {
          alert('提交失败');
        });
      }

      $scope.delete = function (index) {
        $http({
          url: '/delete',
          method: 'post',
          data: {
            id: index
          }
        }).then(res => {
          if (res.data.ok) {
            $scope.getList();
          }
        }, () => {
          alert('删除失败');
        });
      }


      $scope.badOrGood = function (index, type) {

        $http({
          url: '/update',
          method: 'post',
          data: {
            id: index,
            type: type
          }
        }).then(res => {
          if (res.data.ok) {
            $scope.getList();
          }
        }, () => {
          alert('失败');
        });
      }

      //加载页面时就去获取数据
      $scope.getList();


    });
  </script>
</head>
<body ng-controller="main">
  <div class="box">
    <h2>留言板</h2>
    <div class="content-box">
      <textarea rows="4" class="content" ng-model="content"></textarea><br/>
      <input type="button" class="button" value="提交" id="submit-btn" ng-click="add()"/>
    </div>

    <div class="list-box">
      <div class="list" ng-repeat="item in datas">
        <div class="list-show">
          <div class="content-show">{{item.content}}</div>
          <div class="icon-show">
            <span class="icon good" ng-click="badOrGood(item.id, 'good')"><i class="iconfont icon-good"></i>{{item.good}}</span>
            <span class="icon bad" ng-click="badOrGood(item.id, 'bad')"><i class="iconfont icon-bad"></i>{{item.bad}}</span>
            <span class="icon delete" ng-click="delete(item.id)"><i class="iconfont icon-lajixiang"></i></span>
          </div>
        </div>
        <div class="date-box">
          <span class="date">{{item.date|date:"yyyy-MM-dd HH:mm:ss"}}</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>