html
  head
    style
    script(src="1.js")
    link(href="a.css", rel="stylesheet")
  body
      div
          ul
              li
              li
              li
      div
          a(href="http://www.baidu.com/") 百度